#preloader{
    width: 100%;
    height: 100%;
    /*background: pink;*/
    /*opacity: 0.5;*/
    position: fixed;
    z-index: 90;
}

#preloader-overlayer{
    background: blue;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 10%;
}

#preloader  > img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}