.bg_gradient2{
    width: 98.7vw;
    height: 8vw;
    background: linear-gradient(180deg,black,transparent);
}
#nav1{
    position: absolute;
    right: 0;
    margin: 2vw;
}
#nav1>a{
    position: relative;
    padding: 0 15px;
    text-decoration: none;
    color: #dee2e6;
}
#nav1 a:hover{
    color: #F86F03;
}
/*#img1{*/
/*    width: 16vw;*/
/*}*/
.grid-box{
    width: 80vw;
    height:60vw;
    display: grid;
    /*grid-gap: 20px;*/

    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);

    position: absolute;
    top: 10vw;
    left:10vw;

    z-index: 20;
}

.grid-box > .grid-box-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(180deg,#116530, transparent);
}

.grid-box > .grid-box-item > img{
    width: 200px;
    aspect-ratio: 1/1;
    margin-top: 20px;
}

.grid-box > .grid-box-item > h5{
    font-weight: bold;
    font-size: 32px;
    color: black;
}